@import "../partials/colors";
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    outline: none;
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-color: #fff;
    &:hover, &:focus {
        outline: none;
        background-color: #fff;
    }
    &.slick-disabled:before {

    }
    &:before {

    }
}

.slick-prev {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    transform: rotate(43deg);
    left: -5vw;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
}

.slick-next {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    transform: rotate(-43deg);
    right: -5vw;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        content: '';
        [dir="rtl"] & {
            content: '';
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {

                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 14px;
                height: 14px;
                border: 1px solid $color-secondary-5;
                text-align: center;
            }
        }
        &.slick-active button:before {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
            background-color: $color-secondary-5;
        }
    }
}
