<main>
    <section>
        <div class="faq">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="faq-content">
                                <h1>Frequently Asked Questions (FAQs)</h1>
                                <div>
                                    <input title='Is there a charge for submitting an order?' type='checkbox'>
                                    <p>
                                        There is no charge to submit an order. We assess the nature of the task and provide a quote for the job. If you are happy to proceed,
                                        you make the required payment to our essay writing service. A writer will then commence work on your project.
                                    </p>
                                </div>
                                <div>
                                    <input title='When will your paper be ready?' type='checkbox'>
                                    <p>
                                        When placing an order, you state your required deadline on the order form. Once we provide a quote, this is confirmation that we
                                        can meet your deadline. Our custom writing team is on hand 24x7, which means we can accept urgent orders. Once we agree to a
                                        deadline, you will receive your paper on time.
                                    </p>
                                </div>
                                <div>
                                    <input title='How do we deliver your paper(s)?' type='checkbox'>
                                    <p>
                                        Completed papers are delivered to the customer’s email address, so you can download them at your convenience.
                                    </p>
                                </div>
                                <div>
                                    <input title='Do we accommodate changes while the writing is in progress?' type='checkbox'>
                                    <p>
                                        There are two answers. We encourage you to remain in contact with our essay writing service while your project is underway so
                                        that you can request small changes, which we will do our best to accommodate. The writers at 123HelpMe.org will work alongside
                                        you to ensure the final paper meets your expectations and requirements, so minor changes are not a problem. You may also request
                                        an edit or revision if the paper does not match the instructions you provided at the outset. However, by providing a quote and
                                        accepting your order, 123HelpMe.org agrees only to meet your initial instructions. If you want more significant changes, we will
                                        consider a renegotiation of the terms and will be as accommodating as possible. Nonetheless, it is imperative you understand that
                                        your initial instructions constitute a legal agreement between you and our company. Therefore, any significant changes will only
                                        be undertaken by agreement and, possibly, for an additional fee.
                                    </p>
                                </div>
                                <div>
                                    <input title="Is there anything you can do if you are not entirely satisfied?" type='checkbox'>
                                    <p>
                                        Yes. If you feel dissatisfied with any aspect of our work while the project is in progress or we fail to provide you with
                                        plagiarism-free essays, you should tell us. We will do our best to resolve the matter.
                                    </p>
                                    <p>
                                        Simply tell us (or more specifically tell your writer) what you think is wrong and they will do all they can to find a solution.
                                        The writers at 123HelpMe.org are always willing to edit the papers they have written if there is a problem that can be rectified
                                        by editing. If, after the editing, you are still dissatisfied, our customer service staff will look at other ways of resolving the
                                        problem. Essentially, if our writer has not complied with your initial instructions or with your deadline, you do not have to
                                        accept the paper. If the first writer is unable to revise your paper satisfactorily, we will identify another writer to complete
                                        the work.
                                    </p>
                                </div>
                                <div>
                                    <input title='What payment methods/options do we offer?' type='checkbox'>
                                    <p>
                                        Orders can be paid for via bank or wire transfer. Alternatively, if you prefer, you can pay for your order using PayPal. You
                                        can use your credit card to make payments via this channel.
                                    </p>
                                </div>
                                <div>
                                    <input title='Can you be certain you will receive an original paper?' type='checkbox'>
                                    <p>
                                        123HelpMe.org does not tolerate plagiarism. Our writers are familiar with our anti-plagiarism policy so they know they are not
                                        allowed to use plagiarized material in any essay they write for a customer. Every writer employed by our company is a qualified
                                        professional with fluent writing skills. Each one is also aware that instances of plagiarism can accidently slip into a written
                                        piece where sources are not correctly referenced or cited. Because of this, we are quite confident that when you place an order
                                        with us you are unlikely to receive a plagiarized product. You can also double-check our work for plagiarism using any of the
                                        widely available detection systems.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>