<footer>
    <section>
        <div class="footer">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <img src="../img/footer-logo.png" alt="logo" />
                            <i class="fa fa-thumb-tack hidden-xs hidden-sm" aria-hidden="true"></i>
                            <span class="address hidden-xs hidden-sm">Weston Pointe II, 2200 N. Commerce Parkway, Weston, Florida, 33326</span>
                            <i class="fa fa-phone hidden-xs hidden-sm" aria-hidden="true"></i>
                            <span class="tel hidden-xs hidden-sm">+1(754) 989 0251</span>
                            <i class="fa fa-envelope hidden-xs hidden-sm" aria-hidden="true"></i>
                            <span class="email hidden-xs hidden-sm">support@123helpme.org</span>
                        </div>
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="footer-menu">
                                <nav>
                                    <span class="nav-header">Navigation</span>
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Order Now</a>
                                        </li>
                                        <li>
                                            <a href="#">Guarantees</a>
                                        </li>
                                        <li>
                                            <a href="#">Discounts</a>
                                        </li>
                                        <li>
                                            <a href="#">Prices</a>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-6 articles-wrapper hidden-xs hidden-sm">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="footer-article">
                                        Articles
                                    </div>
                                </div>
                            </div>
                            <div class="row nav-articles">
                                <div class="col-lg-4 col-md-6">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="#">Best Online Papers</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy a Good Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Cheap Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy College Papers Online</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Custom Essay Paper</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essay Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essays Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Research Papers Cheap </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="#">Best Online Papers</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy a Good Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Cheap Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy College Papers Online</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Custom Essay Paper</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essay Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essays Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Research Papers Cheap </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a href="#">Best Online Papers</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy a Good Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Cheap Essay</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy College Papers Online</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Custom Essay Paper</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essay Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Essays Now</a>
                                            </li>
                                            <li>
                                                <a href="#">Buy Research Papers Cheap </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row footer-down">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <span class="right">123Helpme.org &copy; 2017 All right recerved</span>
                        </div>
                        <div class="col-md-6 hidden-xs hidden-sm">
                            <img src="../img/pay.png" alt="" />
                        </div>
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
