$primaryColor1: rgb(50, 175, 123); //global variables
$primaryColor2: rgb(156, 33, 187);
$primaryColor3: rgb(30, 71, 83);
$font-regular: "Times New Roman",Times,serif;
$primaryTextColor1: rgb(143, 175, 53);
