/*BG Colors**/
$color-primary-1: #52579c;
$color-primary-2: #0d93a3;
$color-primary-3: #393c52;
$color-primary-4: #25262f;
$color-primary-5: #6f73ad;
$color-primary-6: #f2f2f2;
$color-secondary-1: #d8ecf0;
$color-secondary-2: #30343e;
$color-secondary-3: #74779e;
$color-secondary-4: #ffdfff;
$color-secondary-5: #008d9e;
$color-secondary-6: #006470;
$color-secondary-7: #dcdcdc;
$color-secondary-8: #e1e1e1;
$color-secondary-9: #fdfdfd;
$color-secondary-10: #f3f3f3;
$color-secondary-11: #e5e5e6;
$color-third-1: #646675;
$color-third-2: #d4d4d4;
$color-third-3: #585858;
$color-third-4: #f8f8f8;
$color-third-5: #1e1f25;
$color-third-6: #252525;
$color-third-7: #111111;

/*Text Colors*/
$font-color-1: #323232;
$font-color-2: #25262f;
$font-color-3: #46497d;
$font-color-4: #f26695;
$font-color-5: #25273b;

/*H's Colors*/
$font-color-hx: #1f313d;

/*Buttons Color*/
$color-btn-1: #30bf78;
$color-btn-1-hover: #06cc6a;
$color-btn-2: #7cdeda;
$color-btn-2-hover: #c9f5e7;
$color-btn-3: #52579c;
$color-btn-3-hover: #656cc1;
$color-btn-4: #fff;
$color-btn-4-hover: #cfe9ed;
$color-btn-5: #f26695;
$color-btn-5-hover: #ff6b9d;
