body{
  @include font(14px,$font-color-1,400,$font-regular);
  max-width: 1920px;
  min-width: 320px;
}
h1{
  @include font(24px,$font-color-hx,700,$font-bold);
  text-transform: uppercase;
}
h2{
  @include font(23px,$font-color-hx,700,$font-bold);
  text-transform: uppercase;
}
h3{
  @include font(22px,$font-color-hx,700,$font-bold);
  text-transform: uppercase;
}
h4{
  @include font(21px,$font-color-3,700,$font-bold);
  text-transform: uppercase;
}
h5{
  @include font(21px,$font-color-3,700,$font-bold);
  text-transform: uppercase;
}
p{
  @include font(14px,$font-color-1,400,$font-regular);
  line-height: 24px;
}
p.subtitle{
  @include font(18px,$color-primary-3,700,$font-regular);
}

ul{
padding-left: 40px;
  li{
    list-style: circle;
    color: $color-btn-3;
    a{
      color: $color-primary-4;
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
    span{
      color: $color-primary-4;
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

ol{
  padding-left: 40px;
  li{
    color: $color-btn-3;
    a{
      color: $color-primary-4;
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
    span{
      color: $color-primary-4;
      font-family: $font-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}
